<div>
  <nav>
    <div class="hidden lg:flex lg:gap-x-12">
      <div class="text-sm font-semibold leading-6 text-gray-900">
        <%= link_to "Welcome Page", root_path %>
      </div>
    </div>
  </nav>
  <h1>Sign-in</h1>
  <%= form_with url: sign_in_path do |form| %>
    <p>
      <%= form.label 'email' %><br>
      <%= form.text_field :email, id: 'email' %>
    </p>
    <p>
      <%= form.label 'password' %><br>
      <%= form.password_field :password, id: 'password' %>
    </p>
    <p>
      <%= form.submit 'Sign-in', id: 'postButton' %>
    </p>
  <% end %>
</div>
