<div class="flex flex-col">
  <header>
    <nav>
      <div class="hidden lg:flex lg:gap-x-12">
        <div class="text-sm font-semibold leading-6 text-gray-900 flex navItems justify-evenly">
          <%= link_to "Welcome Page", root_path %>
          <%= link_to "New Category", new_category_path %>
        </div>
      </div>
    </nav>
  </header>
  
  <div class="flex flex-col"> 
    <ul>
      <% @categories.each do |category| %>
        <% unless category.archived? %>
          <li>
            [<%= category.status %>] <%= link_to category.title, category %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  
  <footer>
    <h1>Categories#index</h5>
    <p >The journal has <%= Category.public_count %> 'Public' categories.</p>
  </footer>
</div>
