<div>
  <h1 class="font-bold text-2xl"><%= @category.title %></h1>

  <p><%= @category.body %></p>

</div>
<div>
  <ul>
    <li><%= link_to "Edit", edit_category_path(@category) %></li>
  </ul>
  
  <%= button_to "Delete", category_path(@category), method: :delete %>
</div>

<div>
  <h2 class="font-underline text-2xl">Tasks</h2>
  <% @category.tasks.each do |task| %>
    <p>
      <strong>Task:</strong>
      <%= task.title %>
    </p>

    <p>
      <%= task.body %>
    <p>
  <% end %>
</div>

<div>
  <h2 class="text-2xl">Add a Task:</h2>
  <%= form_with model: [ @category, @category.tasks.build ] do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>
