<div class="flex flex-col space-between">
  <header>
    <nav>
      <div class="hidden lg:flex lg:gap-x-12">
        <div class="text-sm font-semibold leading-6 text-gray-900">
          <%= link_to "Home", categories_path %>
        </div>
      </div>
    </nav>
  </header>

  <div class="flex justify-between">
    <div>
    <h1 class="font-bold text-2xl"><%= @category.title %></h1>

    <p><%= @category.body %></p>

    </div>
    <div class="pl-2 pr-2 self-end">
      <ul>
        <li><%= link_to "Edit", edit_category_path(@category) %></li>
        <%= link_to "Delete", category_path(@category), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
        <%#<li><%= button_to "Delete", category_path(@category), method: :delete %> <%#</li>%>
      </ul>
      
    </div>
  </div>
  
  <div class="flex justify-between">
    <div class="flex pt-10">
      <div class="pl-10">
        <h2 class="text-2xl">Add a Task:</h2>
        <%= render 'tasks/form' %>
      </div>
      
      <div class="pl-5">
        <%= render @category.tasks %>
      </div>
    </div>
  </div>

  <footer>
    <h1 id="pageTitle">Categories#show</h5>
  </footer>
</div>